# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignora todos los archivos dentro de la carpeta de PDFs generados
backend/storage/pdfs/*

# Pero no ignores el archivo de control para que Git mantenga la carpeta
!backend/sstorage/pdfs/.gitkeep
